In [2]:
import tensorflow as tf
import keras
import numpy as np
import pandas as pd

In [8]:
import os
os.getcwd()

'D:\\Python\\Kaggle\\Humpback Whale Identification Challenge\\script'

In [9]:
train_csv_name = "../data/train.csv"

In [10]:
train_csv = pd.read_csv(train_csv_name)

In [12]:
train_csv.head()

          Image         Id
0  00022e1a.jpg  w_e15442c
1  000466c4.jpg  w_1287fbc
2  00087b01.jpg  w_da2efe0
3  001296d5.jpg  w_19e5482
4  0014cfdf.jpg  w_f22f3e3

In [13]:
train_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9850 entries, 0 to 9849
Data columns (total 2 columns):
Image    9850 non-null object
Id       9850 non-null object
dtypes: object(2)
memory usage: 154.0+ KB

In [19]:
## id count
all_labels = train_csv['Id']
unique_labels = all_labels.unique()
unique_labels.shape[0]

4251

In [36]:
ids_counted_and_sorted = pd.DataFrame({'Id': all_labels}).groupby('Id').size().reset_index().sort_values(0, ascending=False)

In [38]:
ids_counted_and_sorted.head()

             Id    0
0     new_whale  810
310   w_1287fbc   34
2580  w_98baff9   27
1951  w_7554f44   26
498   w_1eafe46   23

# 图像预处理

## 图像resize

In [4]:
from PIL import Image
from tqdm import tqdm_notebook

In [6]:
import imagehash

# start model

In [1]:
from keras.preprocessing.image import random_rotation